---
layout: base
---

<div id="page" class="site">
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/19552472.js"></script>
  <!-- End of HubSpot Embed Code -->
  {% include header.html %}
  <main id="content" class="site-content">
    {{ content }}
  </main><!-- .site-content -->
  <script id="CookieDeclaration" src="https://consent.cookiebot.com/fdce7788-ff29-49de-8578-8f743570b3f8/cd.js" type="text/javascript" async></script>
  {% include footer.html %}
</div><!-- .site -->
